<!DOCTYPE html>
<html th:replace="~{base.html :: layout(~{::title}, ~{::section})}">
<head>
    <title>Page Title</title>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col" style="max-width: 90%;">
                <form action="#" th:action="@{/api/deployments}" th:object="${deployment}" method="post">
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" class="form-control" id="nameInput" placeholder="Enter name">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

</section>
</body>
</html>