<!DOCTYPE html>
<html th:replace="~{base.html :: layout(~{::title}, ~{::section})}">
<head>
    <title>Page Title</title>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col" style="max-width: 90%;">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Creator</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="deployment : ${deployments}">
                        <td th:text="${deployment.name}"></td>
                        <td th:text="${deployment.Creator}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
</body>
</html>